[submodule "catalog"]
	path = catalog
	url = git@github.com:edumueller/phill-catalog-api.git
[submodule "worker"]
	path = worker
	url = git@github.com:edumueller/phill-catalog-worker.git
[submodule "infra"]
	path = infra
	url = git@github.com:edumueller/phill-catalog-infra
